<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goods.business.mapper.InStockMapper">
    <select id="detail" resultType="com.goods.common.vo.business.InStockItemVO">
        SELECT * ,bisi.`product_number` COUNT  FROM 	`biz_in_stock` bis
                             LEFT JOIN `biz_in_stock_info` bisi
                                       ON bis.`in_num` = bisi.`in_num`
                             LEFT JOIN `biz_product` bp
                                       ON bisi.`p_num` = bp.p_num

        WHERE bis.id = #{id}
    </select>

    <select id="findInStockList" resultType="com.goods.common.vo.business.InStockVO">
        SELECT bis.id,
        bis.in_num,
        bis.type,
        bis.`product_number`,
        bs.phone,
        bis.`status`,
        bis.`operator`,
        bs.`name` supplierName,
        bis.`create_time`
        FROM `biz_in_stock` bis
        LEFT JOIN `biz_supplier` bs
        ON bis.`supplier_id` = bs.`id`
        <where>
            <if test="inStockVO != null">
                <if test="inStockVO.status != null">
                    AND (bis.status = #{inStockVO.status})
                </if>
                <if test="inStockVO.type != null">
                    AND (bis.type = #{inStockVO.type})
                </if>
                <if test="inStockVO.inNum != null">
                    AND (bis.in_num = #{inStockVO.inNum})
                </if>
                <if test="inStockVO.startTime != null and inStockVO.endTime != null">
                    AND (bis.create_time &gt;= #{inStockVO.startTime} AND bis.create_time &lt;= #{inStockVO.endTime})
                </if>
            </if>
        </where>
        LIMIT ${pageNum},${pageSize}
    </select>
    <select id="getSupplierVO" resultType="com.goods.common.vo.business.InStockVO">
        SELECT *FROM `biz_in_stock` bis
                         LEFT JOIN `biz_supplier` bs
                                   ON bis.`supplier_id` = bs.id

        WHERE bis.id = #{id}
    </select>
</mapper>